.Project{
    min-width: 100%;
    min-height: auto;
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Project h1{
    width: 100%;
    text-align: center;
    color: #ffc300;
    text-transform: uppercase;
    font-family: "Bowlby One SC", sans-serif;
    letter-spacing: 2px;
}
.Project .Cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2vh;
    min-width: 100%;
    min-height: 140vh;
    list-style: none;
    margin-top: 10vh;
}

.Project .Cards li{
    min-width: 65vh;
    min-height: 65vh;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    transition: 1s ease-in-out;
    cursor: pointer;
}

.Project .Cards li:hover{
    opacity: 0.5;
}

.Project .Cards .Weather{
    background-image: url(./../../assets/Weather.jpg);
    background-position: center;
    background-size: cover;
}
.Project .data{
    background-color: #00122c;
    width: 100%;
    height: 20vh;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}
.Project .data h2{
    width: 50vh;
}

.Project .Cards .Quizes{
    background-image: url(./../../assets/Test.jpg);
    background-position: center;
    background-size: cover;
}

.Project .Cards .Library{
    background-image: url(./../../assets/Library.jpg);
    background-position: center;
    background-size: cover;
}

.Project .Cards .Portfolio{
    background-image: url(./../../assets/Portfolio.jpg);
    background-position: center;
    background-size: cover;
}
.more{
    min-width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.more button{
    width: 30vh;
    height: 8vh;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 5vh;
    transition: 1s ease-in-out;
    cursor: pointer;
}
.data h2 {
    margin: 0;
}

.more {
    margin-top: 20px;
    text-align: center;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -170%; 
    width: 100vh;
    height: 100%;
    background-color: #00132f;
    color: black; 
    transition: right 0.5s ease-in-out; 
    overflow-x: hidden;
    padding-top: 60px;
    z-index: 10;
}

.sidebar.active {
    right: 0; 
}


.closebtn {
    font-size: 55px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: none;
}

.closebtn:hover {
    box-shadow: none;
    background-color: transparent;
}

.panel-content {
    padding: 40px;
    margin-bottom: 5vh;
}

.panel-content h2 {
    margin-top: 0;
}
.panel-content .header{
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.panel-content .header h1{
    text-align: left;
    margin-left: 6vh;
    color: white;
}
.panel-content .content{
    width: 100%;
    height: auto;
    text-align: right;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 7vh;
}
.panel-content .content h2{
    color: #ffc300;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 600;
}
.panel-content .content h4{
    color: white;
    font-weight: 400;
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: left;
    width: 100%;
}
.panel-content .content img{
    width: 85vh;
    border-radius: 10px; 
    margin-top: 30px;
}
.panel-content .content .tech ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    margin-top: 15px;
    gap: 20px;
}
.panel-content .content .tech ul li{
    background-color: #ffc300;
    padding: 8px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.panel-content .content .key_features ul{
    color: white;
    margin-top: 15px;
    text-align: left;
    position: relative;
    left: 30px;
}
.panel-content .content .key_features ul li{
    margin-top: 5px;
}
.panel-content .content .future ul{
    position: relative;
    left: 30px;
    color: white;
    text-align: left;
    margin-top: 15px;
}

.panel-content .content .Github{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 2vh;
    transition: 1 ease-in-out;
    cursor: pointer;
}
.panel-content .content .Github a:hover{
    color: blue;
}
@media screen and (max-width: 1205px) {
    .Project .Cards li{
        min-width: 55vh;
        min-height: 55vh;
    }
}

@media screen and (max-width: 1050px){
    .Project .Cards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10vh;
        margin: 10vh;
    }
    .Project .Cards li{
        min-width: 85vh;
        min-height: 65vh;
    }
}