@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

.Education{
    min-width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
}
.Education h1{
    width: 100%;
    text-align: center;
    color: #ffc300;
    text-transform: uppercase;
    font-family: "Bowlby One SC", sans-serif;
    letter-spacing: 2px;
}

.Education .Cards{
    min-width: 100%;
    height: 70vh;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10vh;
    flex-wrap: wrap;
}
.Education .Cards li {
    min-width: 40vh;
    height: 50vh;
    border-radius: 40px;
    border: 3px solid white;
    transition: all 1s ease-in-out; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative; 
    cursor: pointer;
}
.Education .Cards h1{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    font-family: "Outfit", sans-serif;
    font-weight: bold;
}
.Education .Cards img {
    width: 90px;
    transition: opacity 0.5s ease-in-out; 
    opacity: 1; 
}

.Education .Cards li:hover {
    background-color: white;
    color: black;
    min-width: 50vh;
    height: 55vh;
}

.Education .Cards li:hover img {
    opacity: 0; 
}

.Education .Cards li .hover-text {
    position: absolute;
    top: 10%;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
    font-family: "Outfit", sans-serif;
    min-width: 80%;
    min-height: 70%;
    text-align: center;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.Education .Cards li:hover .hover-text {
    opacity: 1;
}


@media screen and (max-width: 1150px){
    .Education{
        min-height: 170vh;
    }
    .Cards{
        min-height: 120vh;
        margin-bottom: 50vh;
    }
    .Cards li:hover{
        min-width: 40vh;
        height: 50vh;
    }
}
@media screen and (max-width: 875px){
    .Cards{
        min-height: 180vh;
        gap: 5vh;
    }
    .Cards li{
        min-width: 60vh;
    }
    .Cards li:hover{
        min-width: 60vh;
        height: 50vh;
    }
}
