.Social{
    position: fixed;
    top: 0;
    left: 0;
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    margin-left: 5px;
}

.icon {
    color: white;
}

.Leetcode{
    width: 35px;
}